
{% extends 'customer/base.html' %}

{% block content %}
<div class="container mb-5">
    <div class="row justify-content-center mt-5">
        <div class="col-md-8 col-sm-12 offset-md-1 p-4 text-center">
            <h1>About Us!</h1>
        </div>
    </div>
    <div class="row justify-content-center mt-1">
        <div class="col-md-10 col-sm-12 offset-md-1 p-4 text-center">
            <p>An online food ordering system allows your business to accept and manage orders placed online for delivery or takeaway. Customers browse a digital menu, either on an app or website and place and pay for their order online. Venues will then receive the order details via their chosen online food ordering system and produce the order ready for delivery or customer pickup. 

While online food ordering systems have been around for several years, demand for this technology took off during the pandemic. With extended lockdowns and restrictions, hospitality venues quickly pivoted their businesses to offer online ordering solutions so their customers could continue to enjoy restaurant-quality food at home.

Despite the easing of restrictions, demand for takeaway and delivery food has remained high in Australia, with the number of people ordering food online for delivery increasing by 27% from 2020 to 2022.

With this in mind, it’s unsurprising that hospitality businesses are opting to partner with an online food ordering system to help boost their sales and attract new customers. 

Options for businesses: delivery, order ahead & more
No matter what type of online ordering service you’re looking to offer, be it delivery or takeaway, providing customers with different ordering options is a great way to diversify your business and keep sales rolling in. 

But what options are available, and which are best suited to your business?</p>
      </div>
    </div>
</div>
{% endblock content %}

